    <div class="highlight">
        <section class="content">
            <h2>Contributors</h2>
            <p>Thanks to the following for contributing to the development of these sequences:</p>
            <ul class="four contributors clearfix">
                <li><img src="{{ site.baseurl }}/img/alison-brown.jpg" alt="Alison Brown"><span>Alison Brown</span> MTeach student at Deakin University (Pre-Service Teacher Contributor and Collator)</li>
                <li class="detailed">
                    <figure>
                        <img src="{{ site.baseurl }}/img/misty-jenkins.jpg" alt="Dr Misty Jenkins"><figcaption><span>Dr Misty Jenkins Bsc (Hons), PhD, MAICD</span> Laboratory Head Immunology Walter and Eliza Hall Institute of Medical Research</figcaption>
                    </figure>
                    <div class="details">
                        <p>Dr Misty Jenkins is a NHMRC RD Wright fellow and laboratory head in the Immunology Division at Walter and Eliza Hall Institute for Medical Research, where she researches cellular immunology and cancer immunotherapy. Misty studied her PhD in viral Immunology with Nobel Laureate Peter Doherty at The University of Melbourne, followed by postdoctoral positions at The Universities of Cambridge and Oxford, and a postdoctoral position in cancer research at The Peter MacCallum Cancer Centre in Melbourne. Dr Jenkins has a long-standing interest in T cell killing, the immune synapse, and harnessing the power of the immune system to fight cancer.</p>
                        <p>Dr Jenkins was awarded the L’Oreal for Women in Science Fellowship (2013), was Tall Poppy of the year (2015) and won the Westpac/Australian Financial Review Top100 Women of Influence award (2016). In addition to her research career, Dr Jenkins is experienced in governance and is passionate about Indigenous health and education. She is a Board Director for Monash Health, Director and Deputy Chair of The National Centre for Indigenous Genomics at ANU, ambassador for the Poche Centre for Indigenous Health and is Chair of the NHMRC Indigenous Project Grant Review Panels. <a class="full-profile" href="https://www.wehi.edu.au/people/misty-jenkins" target="_blank">Full profile</a></p>
                    </div>
                </li>
                <li><img src="{{ site.baseurl }}/img/peta-white.jpg" alt="Dr. Peta White"><span><a class="new-tab-warning" href="http://www.deakin.edu.au/profiles/peta-white" target="_blank">Dr. Peta White</a></span> Lecturer in Science and Environmental Education at Deakin University (Education Academic and Project Coordinator)</li>
            </ul>
            <p>Special thanks to <b>Ian Bentley</b> and <b>Mary Vamvakas</b></p>
        </section>
    </div>
    <div class="overlay">
        <div class="overlay-child">
            
        </div>
    </div>